html, body {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
  margin: 0;
}
header {
  display: flex;
  align-content: center;
  background-color: black;
  margin: 0px;
  /*color: white;*/
}

header p {
  /*display: inline-block;*/
  font-size: 1rem;
  margin: .66rem 0rem .66rem 1rem;
}

header img {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.main {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.new-arrival {
  width: 20rem;
  height: 10rem;
  background-color: black;
  position: relative;
  top: 9rem;
  left: 6rem;
  padding: 2rem 5rem 3rem 3rem;
}

.new-arrival-p {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.sport-bikes {
  margin-top: .25rem;
  font-size: 2rem;
  font-weight: bold;
}

nav {
  background-color: firebrick;
  text-align: center;
}

nav p {
  display: inline-block;
  text-align: center;
  padding: 0.3rem;
  margin: 0.75rem;
}

.box {
  border: 4px solid black;
  margin: 3rem 2rem;;
}

.box .description {
  background-color: black;
  border-top: 4px solid black;
}

.image-content {
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
